@import "./bootstrap-overrides";
.App {
  text-align: center;
}
body {
  overflow-x: hidden;
}

#netflix-logo {
  margin-left: -16px;
}

.grid {
  overflow-x: hidden;
  overflow-y: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
    &:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }
}

footer {
  @media screen and (min-width: 1024px) {
    width: 80vw;
    margin-inline: auto;
  }

  @media screen and (min-width: 1440px) {
    width: 50vw;
  }
  .icons {
    font-size: 30px;
  }
}
